.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #201e1e;
}

.header__logo{
    height: 50px !important;
    width: 50px !important;
    color: rgb(226, 10, 10);
    margin: 5px;
    border-radius: 10px;
}

.header > h1{
    color: red;
    padding: 0px 10px;
}