.subgifts > img{
    width: 50%;
    height: 50%;
}

.subgifts{
    height: 200px;
    width: 250px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    border: lightgrey 1px solid;
    margin: 20px;
    border-radius: 10px;
    text-align: justify;
}

.subgifts > a{
    color: red !important;
}